<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <img class= "icon" src="../assets/icon/Frame.png" alt="">

  <center><p> <span class="center-spam">Bienvenid@ a <strong>MAKY!</strong> 
    <br>Aqui podras encontrar los servicios a domicilio que necesites, de forma, segura, rapida y facil
  </span>
  </p></center>

<form>
<center>
    <ion-input class="content-input" placeholder=" Correo Electronico" type="text" [(ngModel)]="email" name="email" required></ion-input>
  <br>

    <ion-input class="icon-ubic" slot="end" class="content-input" placeholder=" Contraseña" [(ngModel)]="password" type="password" name="password" required></ion-input>
</center>

  <br>
  <ion-row>
    <ion-col>
      <center><ion-button shape="round" type="submit" (click)="onSubmitLogin()" expand="blok">Ingresar</ion-button></center>
    </ion-col>
  </ion-row>

  <br>
 <center><u style="text-align: center;" routerLink="/registro">Soy Usuario Nuevo</u></center>

</form>
</ion-content>
  